# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
jobs:
  build:

    runs-on: self-hosted

    # strategy:
    #   matrix:
    #     node-version: [14.x]
    #     # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3

    - run: cd /var/www/plena-example-dapp/; rm -rf package-lock.json; git pull ; 
    - run: cd /var/www/plena-example-dapp/; npm install --legacy-peer-deps
    - run: cd /var/www/plena-example-dapp/; CI=false npm run build
    - run: sudo  chown ubuntu:www-data -R /var/www/plena-example-dapp/build
